.avatar{
    font-size: 150px;
    text-align: center;
    padding-bottom: 30px;
}

.name{
    display: flex;
}

.input {
    outline: none;
    width: 50%;
    margin: 20px 15px;
    padding-top: 20px;
    padding-left: 5px;
}

.inputRadio {
    margin-top: 55px;
}

