.outerContainer{
    margin: 0px 20px;
}

.cartContainer {
    width: 1100px;
    background: red;
    margin: 40px;
    margin-right: 10px;
    box-shadow:1px 1px 5px gray;
    border-radius: 4px;
    min-height: 580px;
}

.shoppingCartHeading {
    margin: 10px 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: bold;
}
.productInfo {
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.productDescription{
    color: gray;
}


.productTitle{
    
}
.price {

}

.purchaseContainer {
    width: 300px;
    background: blue;
    margin: 40px;
    margin-left: 10px;
    box-shadow:1px 1px 5px gray;
    border-radius: 4px;
    height: 150px;
}

.plusToCart{
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-family:'Lucida Sans Unicode';
    margin-top: 50px;
}

.numberOfItems{
    margin:0px 10px;
    font-size: bold;
    margin-top: 55px;
}

.minusFromCart{
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-family:'Lucida Sans Unicode';
    margin-top: 50px;
}