.addToCart{
    outline: 0px solid black;
    width: 120px;
    height: 40px;
}

.price {

}

.plusToCart{
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-family:'Lucida Sans Unicode';
}

.numberOfItems{
    margin:5px 10px;
    font-size: bold;
}

.minusFromCart{
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-family:'Lucida Sans Unicode';
}

