.productImage{
    border: .1px solid rgb(226, 226, 226);
    padding: 15px;
}

.productInfo {
    margin-top: 40px;
    margin-left: 40px;
}

.productTitle{

}

.productRatingText{
    margin-bottom: 50px;
}

.productDescription{
    margin-bottom: 80px;
}

.productPrice{
    margin-bottom: 15px;
}

.addToCart{
    outline: 0px solid black;
    width: 120px;
    height: 40px;
}

.buyNow {
    outline: 0px solid black;
    width: 120px;
    height: 40px;
    margin-left: 15px;
}

.plusToCart{
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-family:'Lucida Sans Unicode';
}

.numberOfItems{
    margin:0px 10px;
    margin-top: 5px;
    font-size: bold;
}

.minusFromCart{
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-family:'Lucida Sans Unicode';
}
